<% if @proyectos.blank?  %>
    No hay proyectos encontrados...
<%else%>
    <table class='table table-striped'>
      <thead>
      <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Objetivo</th>
        <th>Resultado</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <% @proyectos.each do |proyecto| %>
          <tr>
            <td><%= proyecto.titulo %></td>
            <td><%= proyecto.descripcion %></td>
            <td><%= proyecto.objetivo %></td>
            <td><%= proyecto.resultado %></td>
            <td><%= link_to raw("<i class='  icon-info-sign icon-white'></i> #{t('Show')}"), proyecto, :class=>'btn btn-info' %></td>
            <td><%= link_to raw("<i class=' icon-pencil icon-white'></i> #{t('Edit')}"), edit_proyecto_path(proyecto), :class=>'btn btn-success' %></td>
            <td><%= link_to raw("<i class='icon-trash icon-white'></i> #{t('Destroy')}"), proyecto, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'btn btn-danger' %></td>
          </tr>
      <% end %>
    </table>
<% end %>