
<p>
  <b>Titulo:</b>
  <%= @proyecto.titulo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @proyecto.descripcion %>
</p>

<p>
  <b>Objetivo:</b>
  <%= @proyecto.objetivo %>
</p>

<p>
  <b>Resultado:</b>
  <%= @proyecto.resultado %>
</p>


<%= link_to 'Editar', edit_proyecto_path(@proyecto), :class=>"btn btn-mini btn-success" %> |
<%= link_to 'Atrás', proyectos_path , :class=>"btn btn-mini"%>

<hr>

<%= link_to 'Nueva Meta', {:controller=>"proyectos", :action => 'alta_meta', :id=>@proyecto.id }, :remote=> true  , :class=>"btn btn-mini btn-success"%>
<br /><br />
<div id="form_meta">

</div>
<legend>Metas Registradas</legend>
<div id="metas">
  <%= render "metas/listado_metas" %>
</div>