<% if @metas.blank?  %>
    No hay metas encontradas...
<%else%>
    <table class="table table-condensed">
      <tr>
        <th>Detalle</th>
        <th>Estado</th>
        
        
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @metas.each do |meta| %>
          <tr>
            <td><%= meta.detalle %></td>
            <td><%= meta.estado %></td>
		  <td><%= link_to raw("<i class='  icon-info-sign icon-white'></i> #{t('Show')}"), meta, :class=>'btn btn-info' %></td></td>
            <td><%= link_to raw("<i class=' icon-pencil icon-white'></i> #{t('Edit')}"), {:controller=>"proyectos", :action => 'editar_meta', :id=>meta }, :remote=> true  , :class=>'btn btn-success' %></td>
	
            <td><div id="dato<%=meta.id%>"><%= link_to raw("<i class='icon-trash icon-white'></i> #{t('Destroy')}"), meta, :remote => true,method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'btn btn-danger' %>
		  </div>
		  </td>
            
          </tr>
      <% end %>
    </table>
<% end %>

<%= ajax_will_paginate @metas, :class=>'nuestra_pagination', :next_label => 'Siguiente' , :previous_label => 'Anterior', :inner_window => 4, :outer_window=>4  %>