<%= form_for @historia, :class=>"form-horizontal" do |f| %>
  <% if @historia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historia.errors.count, "error") %> prohibited this historia from being saved:</h2>

      <ul>
      <% @historia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %>
    <%= f.text_field :detalle %>
  </div>
  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :duracion %>
    <%= f.text_field :duracion %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>
