<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @historia.detalle %>
</p>

<p>
  <b>Estado:</b>
  <%= @historia.estado %>
</p>

<p>
  <b>Duracion:</b>
  <%= @historia.duracion %>
</p>


<%= link_to 'Editar', edit_historia_path(@historia) , :class=>"btn btn-mini btn-inverse" %> |
<%= link_to 'Atrás', metas_path + '/' + @historia.meta_id.to_s, :class=>"btn btn-mini"%>
